<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AddPrescription"
        tools:targetApi="34">
        <activity
            android:name=".ui.AppointmentReminderActivity.AddMReminder"
            android:exported="false" />

        <activity
            android:name=".ui.LoginSignupForget.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginSignupForget.ForgetPassword"
            android:label="Forgot Password"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".ui.LoginSignupForget.RegisterAccount"
            android:exported="false" />
        <activity
            android:name=".ui.DashboardActivity.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddPrescription.PrescriptionFile"
            android:exported="false" />
        <activity
            android:name=".ui.AppointmentReminderActivity.AddAppointmentReminder"
            android:exported="false" />

        <activity
            android:name=".ui.EducationalResouresActivity.EducationalResourcesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WomensHealthActivity.WomensHealthActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NutritionDietPlaningActivity.NutritionDietPlaningActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DiseasManagmentActivity.DiseaseManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddPrescription.AddPrescription"
            android:exported="false" />
        <activity
            android:name=".ui.VaccinationReminderActiviy.VaccinationReminderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MedicineReminderActivity.MedicineReminderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AppointmentReminderActivity.AppointmentReminderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WaterReminderActivity.WaterReminderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginSignupForget.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>